@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

* {
    font-family: monospace, sans-serif;
    margin: 0;
}

.prod-alt-innhold {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: left;
    align-items: center;
} 

.prod-container {
    position: relative;
    max-width: 100%;
}

.prod-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-height: 650px;
    max-width: 600px;
}

.prod-slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
    height: auto;
    min-height: 350px;
    cursor: pointer;
}

.prod-slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.prod-slider-nav a {
    width: 4vw;
    height: 0.5vh;
    border-radius: 10px;
    background-color: white;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.prod-slider-nav a:hover{
    opacity: 1;
}

.prod-name-price {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 80px;
}

.prod-btn-leggtil{
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.prod-select-box {
    border: black solid 2px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.prod-btn-leggtil:active {
    transform: scale(0.98);
  }

.prod-select-box option{
    overflow-y: scroll;;
  }

.prod-reviews {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    max-width: 775px;
}

.prod-review {
    border: black solid 2px;
    border-radius: 5px;
    padding: 10px;
}




.prod-small-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

.prod-small-images img {
    width: 150px;
}

.prod-all-images {
    display: flex;
    gap: 35px;
    padding-top: 70px;
    align-items: center;
}

.prod-logo {
    width: 100px;
    margin-bottom: 5px;
}

.prod-name {
    margin-bottom: 5px;
}

@media screen and (max-width: 760px){
    .prod-small-images {
        display: none;
    }
    .prod-alt-innhold {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: left;
        align-items: center;
    }
    .prod-slider {
        max-width: none;
    }
    .prod-name-price {
        margin-top: 10px;
    }
}

@media screen and (min-width: 760px) {
    .prod-alt-innhold {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        justify-items: left;
        align-items: center;
    }
}